services:
  postgres_db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gotodoapp
    volumes:
      - postgres_data:/bitnami/postgresql
    ports:
      - "5432:5432"

volumes:
  postgres_data:
